body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: palevioletred;
    color: white;
}

.container{
    gap: 50px;
    
}
textarea{
    height: 10cm;
    width: 34cm;
    resize: none;
}
#my-title {
    color: palevioletred;
    text-align: center;
    padding-top: 25px;
}

.sweetpiano{
    position: relative;
    left: 600px;
    top: 20%;

}
.description{
    color: palevioletred;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.description_2{
    text-align: right;
    color: palevioletred;
}
.photo{
     float: left;
     margin-right: 20px;
     width: 80px;
     height: auto;
}

.photo_2{
    float: right;
    margin-right: 20px;
    width: 180px;
    height: auto;
}

.main-headers{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
    color: palevioletred;
}

.column-left{
    grid: 50;
}

.column-right{
    text-align: right;
}


